<!DOCTYPE html>
html, body{
	background-color: white;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav {
	position:fixed;
	width: 20%;
	right:10px;
	padding: 1%;
	overflow: hidden;
	font-size:160%;
}

	nav ul li {
		list-style-type: none;
		padding: 0 0 0 10px;
	}


header {
	height: 100px;
	background-color:red;
	margin: 0 0 10px 0;
	text-align:center
}

section{
	font-size:150%
}

.centre {
	position: static;
	right: 0px;
	bottom: 30px;
}

a {
	text-decoration: none;
}

nav ul > li:hover {
	background-color: #C0C0C0;
}

	nav ul > li:hover > a {
		color: red;
	}

nav ul li a:active {
	background-color: #C0C0C0;
	color: red;
}


h1 {
	color: red;
}

h2 {
	color: white
}

.left {
	float: left
}

.left:hover {
		cursor: pointer;
		opacity: 0.5;
	}

.middle{
	position:relative;
	left:50px;
	padding:10%
}

.white{
	color:white
}


table {
	border: 5px solid red;
	table-layout: auto;
	width: 400px;
}

td, th {
	border: 1px solid black;
	text-align:center;
}

th{
	font-size:125%;
}

.right {
	position:relative;
	left:50px;
	bottom:80px;
}

footer ul li {
	display: inline;
	font-size:150%;
	color:orangered
}

footer ul li:after {
	content: " |";		
}


footer ul > li:hover {
	background-color: #C0C0C0;
}

	footer ul > li:hover > a {
		color: red;
	}

footer ul li a:active {
	background-color: #C0C0C0;
	color: #002080;
}

.zoom{
    overflow: hidden;
    padding: 0;
 
border:1px solid #000;
}

.zoom img {
    transition-duration: 0.3s;
    margin: 0 auto;
    display: block;
}

.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

p::first-letter{
	font-size: 200%
}

.small{
	width:70%
}

#content {
	width: 75%;
	background: #C0C0C0;
	float: left;
	padding: 1%;
	overflow: hidden; 
}
#content2 {
	background: #C0C0C0;
	width: 75%;
	float: left;
	padding: 1%;
	overflow:hidden;
}
#wrapper {
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	min-height: calc(100% - 52px);
	padding: 1%;
}
#footer {
	height: 90px;
	background: #000;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
	padding: 5px;
}

/*RWD - responsive web design*/
@media only screen and (max-width: 900px) {
	table {
		display: none;
	}

	nav{
		width: 88%;
		position: absolute;
		height: 30px;
	}

		nav ul li {
			display: inline;
		}

			nav ul li:after {
				content: " |";
			}
	.middle{
		width: 75%;
		position: relative;
		top: 30px;
		margin-top: 5%;
		}


	#content {
		width: 98%;
		position: relative;
		top: 30px;
		margin-top: 5%;
	}
	#content2 {
		width: 98%;
		position: relative;
		top: 30px;
		margin-top: 5%;
	}
}
